		
		#main, #main > div, .off-canvas-wrap, .inner-wrap, .workArea, .workArea .columns, #chart-edit {
			height: 100%;
		}

		.main-section {
			overflow-y: auto;
		}
		#preview {
			height: 75%;
		}
		.chart-list-item *, #search *{
			text-indent: 0;
		}
		.ui-icon {
			display: inline-block;
		}


		#chart_collection {
			font-family: Arial, Helvetica, sans-serif;
			
		}
		aside .libraryCollection {
			overflow: auto;
		}

		
		#charts {
			margin-left: 0;
			color: white;
		}
		#charts div {
			cursor:default;
			width: 100%	;

		}
		#charts button {
			cursor: pointer;
		}

		.main-section {
			height: 100%;
		}

		#search {
			height: 1.8rem !important;
		}
		
		.text-field input {
			width: 100%;
		}
		
		.off-canvas-container {
			padding: 0;
		}

		.off-canvas-container a {
			font-size: 1.5em !important;
			padding: 0 !important;
		}

		.chart-list-item {
			font-size: 1em;
			cursor: pointer;
		}
		.chart-list-item:hover {
			background-color: rgb(65, 65, 65);
		}
		.chart-list-item  button{
			padding: 0;
		}
		.chart-list-item button:hover{
			border: 1px solid #00ffdd;
		}


